<div class="div-center home_container">
<h1>Welcome to  Student Management system</h1>
  <br>
  <div class="div-center" >

<button class="btn btn-outline-primary"> <%= link_to "Students Index" , students_path,{style: "text-decoration: none;color: inherit"} %></button>

<button class="btn btn-outline-info"> <%= link_to "About Page" , about_path ,{style: "text-decoration: none;color: inherit"} %></button>
  </div>

</div>