<div class="div-center">
  <h1>This is about page</h1>
  <p>This is a students management system, it helps to keep track of our students recode in the database and can be viewed in very eligent format</p>
  <br>

  <div style="display: flex; justify-content: center;  " >

    <button class="btn btn-outline-primary"> <%= link_to "Students Index" , students_path,{style: "text-decoration: none;color: inherit"} %></button>
    <br>
    <button class="btn btn-outline-info"> <%= link_to "Home" , root_path,{style: "text-decoration: none;color: inherit"} %></button>
  </div>
</div>
